@import "../../../styles/base";

.information {
  &:after {
    content: "";
    border-bottom: 1px solid $color-dark-gray;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
  }

  &:last-child:after {
    border: 0;
    content: "";
  }
}