@import "../../../styles/base";

.small {
  font-size: $font-small-size;
  word-break: break-word;
  white-space: break-spaces;
}

.medium {
  font-size: $font-size;
  word-break: break-word;
  white-space: break-spaces;

}

.big {
  font-size: $font-h2-size;
  word-break: break-word;
  white-space: break-spaces;

  sup {
    font-size: 10px;
  }
}

.xl {
  font-size: $font-h1-size;
  word-break: break-word;
  white-space: break-spaces;

  sup {
    margin-left: 2px;
    font-size: 18px;
  }
}

.xs {
  font-size: 12px;
  word-break: break-word;
  white-space: break-spaces;

}
