@import "base";

@each $color,$value in $colors {
  .#{$color} {
    color: $value;
  }

  .bg-#{$color} {
    background-color: $value;
  }

  .border-#{$color} {
    border: 1px $value solid;
  }
}
