@import "../../../styles/base";

.timeline {
  ul, li{
    list-style: none;
    padding: 0;
  }

  li {
    padding-bottom: 1.5rem;
    border-left: 2px solid $color-green;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;

    &:before {
      content: '';
      width: 15px;
      height: 15px;
      background: $color-green;
      box-shadow: 3px 3px $color-light-green;
      border-radius: 50%;
      position: absolute;
      left: -10px;
      top: 0;
    }

    &:last-child{
      border: 0;
      padding-bottom: 0;
    }
  }

  ul {
    position: relative;
  }
}

